{% load static %}
<footer class="fixed-bottom">
  <div id="nudge-bin">
    <p id="nudge-count">0</p>
    <button type="button"><i class="fa fa-fire" aria-hidden="true"></i></button>
  </div>
  <div class="row text-center bg-dark text-white">
    <p>All Rights Reserved.</p>
  </div>
  <script src="{% static 'hosman_web/js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'hosman_web/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'hosman_web/js/script.js' %}"></script>
</footer>
